* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    height: 105vh;
}


.contactcontainer{
   display: flex;
   flex-direction: column;
    border: 5px solid black;
    margin: 7% 100px;
    border-radius: 10px;
}


.contactinside{
    display: block;
    margin: 20px;
    padding: 10px 10%;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}

#writebox{
    width: 70%;

}

.contactinsidelabel{
    font-size: 40px;
    margin-left: 15px;
}

.othercontacts{
    margin: 0px auto;
   
}

.othercontacts img{
    margin: 10px 30px;
}

