.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px;
    height: 730px;
    width: 100%;
    background-color: transparent;
    background-size: 100% 100%;
}

.login-box {
    display: flex;
    justify-content: center;
    margin-top: 12%;
}

.form-login {
    background-color: white;
    width: 450px;
    display: flex;
    padding: 30px 10px;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

.log-input {
    padding: 15px;
    width: 70%;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 15px;
}

.forgot-login {
    text-decoration: none;
    color: black;
}

#login-submit-button {
    padding: 8px 0px;
    background-color: tomato;
    font-size: 20px;
    color: white;
}


#login-submit-button:hover {
    background-color: rgb(167, 65, 47);
    font-size: 23px;
}



#btn-login {
    position: relative;
    top: 210px;
    left: 930px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: 400px;
}


